@import "apps.scss";


/*
#game-menu{
  @extend .instrument;
  margin:20px 20px 0px 0px;
  border-left:none;
  max-width: 300px;

  .bulletin, .notification, .error{
  	margin-left:0px;
  	border-left:none;
    padding:5px 7px;
    margin:5px 10px 5px 0px;
  }
}

#game-hud-main{
  margin:auto;
  text-align:center;
  padding:inherit 10px 10px 10px;
  background-color:$ship-glass;

  h1{
    margin:0px;
    padding:0px 10px;
    line-height:1.2em;
    font-size:28px;
    font-weight:bold;
    color:darken($ship-glass, 50%);
    text-shadow: 2px 2px 2px darken($ship-glass, 100%), -2px -2px -2px lighten($ship-glass, 100%);
  }
}

#game-creation-form-holder{
  border:2px solid $inst-border;
  border-left:none;
  margin: 5px 10px 5px 0px;
  padding:5px;
  background-color:lighten($ship-glass, 15%);

  ul{
  	padding:0px;

  	li{
  	  margin:5px 0px;
  	}
  }
}


.game-list-holder{
  width: 400px;

  ul{

    li{
      margin:5px 0px 5px 0px;

      &:last-child{
        margin-bottom:25px;
      }
    }
  }
}
*/

.game-status-main{
  @include box-shadow(0px, 0px, 4px, $base, inset);
  border:1px solid $base;
  padding:2px 10px;
  margin:0px 0px 5px 0px;

  h2{
    font-size:17px;
    color:$base;
    margin:0px;
  }

  dl{
    width:100%;
    vertical-align:top;
    margin:0px 0px 0px 5px;
    font-size:10px;
    color:$light;
    //float:left;

    dt,dd{
      display:inline-block;
      margin:0px;
    }
    dt{
      font-weight:bold;
    }

    dd{
      margin-left:2px;
      font-style:italic;
    }
  }

  .players-status-list{
    margin:0px 5px;

    li{
      text-align:center;
      vertical-align:top;;
      display:inline-block;
      padding:5px 10px;

      h5{
        font-size:12px;
        font-weight:bold;
        color:$support;
        margin:0px;
      }

    }
  }
}

.parcel.game{
  @include box-shadow(0px, 0px, 4px, $base, inset);
  background-color:lighten($base, 61%);
  border:1px solid $base;
  padding:5px 7px;

  header{
    padding:0px;
    margin:0px;

    h5{
      font-size:16px;
      font-weight:bold;
      text-align:left;
      color:$base;
      line-height:1.2em;
      padding:0px;
      margin:0px;
    }

    dl{
      width:100%;
      vertical-align:top;
      margin:0px 0px 0px 5px;
      font-size:10px;
      color:$light;
      //float:left;

      dt,dd{
        display:inline-block;
        margin:0px;
      }
      dt{
        font-weight:bold;
      }

      dd{
        margin-left:2px;
        font-style:italic;
      }
    }
  }

  .button-holder{
    width:100%;
  }

  button{
    font-size:12px;
    line-height:1em;
    padding:0px 3px;
    margin:5px;
  }

}


.ship-commander{


  h5{
    margin:0px;
    //float:left;
    //clear:left;
  }

  dl{
    font-size:10px;
    margin-left:5px;

    dt,dd{
      margin:0px;
    }
  }
}