@import "apps.scss";

#masthead{
  @extend .instrument;
  position:absolute;
  top:0px;
  left:0px;
  height:40px;
  margin:0px;
  padding:0px;
  width:100%;

  ul{
  	margin:0px;
  	padding:0px;

  	li{
  	  position:relative;
  	  border-left:2px solid $base;
  	  border-right:2px solid $base;
      border-bottom:2px solid $base;
  	  display:inline-block;
  	  margin:0px 10px;
  	  padding:0px 10px;
  	  height:40px;

  	  //-----------------------------------------------
  	  //--This is where the user will manage themselves
  	  &.user-home-content{

  	  	h6{
  	  	  display:inline;
  	  	  width:100%;
  	  	  vertical-align:bottom;
  	  	}

  	  	ul{
          background-color:lighten($base, 55%);
  	  	  display:none;
  	  	  position:absolute;
  	  	  top:42px;
  	  	  left:-2px;
  	  	  border:2px solid $base;
  	  	  padding-top:20px;
          padding-bottom:10px;

  	  	  li{
  	  	  	display:block;
  	  		  border-left:none;
  	  		  border-right:none;
            border-bottom:none;
  	  	  	width:250px;
  	  	  	height:inherit;
  	  	  	font-size:12px;

  	  	  	&:hover{
  	  	  	}

  	  	  	label{
  	  	  	  margin-right:10px;
  	  	  	  width:30%;
  	  	  	}

  	  	  	input{
  	  	  	  width:60%;
  	  	  	}
  	  	  }
  	  	}

  	  	&:hover{

  	  	  ul{
  	  	  	display:block;
  	  	  }
  	  	}
  	  }
  	}
  }


}